<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<property name="LOGS" value="./logs" />
<appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
<encoder>
<Pattern>
                %white(%d) %highlight(%-5level) [%t %yellow(%logger): %msg%n%throwable
</Pattern>]
</encoder>
</appender>
<appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
<encoder>
<Pattern>%d %p %logger [%t] %m%n</Pattern>
</encoder>
<file>${LOGS}/spring-boot-logger.log</file>
<rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
</fileNamePattern>
<timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
<maxFileSize>10MB</maxFileSize>
</timeBasedFileNamingAndTriggeringPolicy>
</rollingPolicy>
</appender>
<root level="warn">
<appender-ref ref="Console" />
</root>
<logger name="edu.esiea.stellarsystemapi.controllers" level="debug">
<appender-ref ref="RollingFile" />
<appender-ref ref="Console" />
</logger>
</configuration>